
body {
  margin: 50px;
  background-color: #8fbc8f;
  font-family: Arial, Verdana, sans-serif;}

.center1 {
  text-align: center;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;}
